@import "tailwindcss";

:root {
  --bg: #1e2023;
  --panel: #2b2f33;
  --panel-light: #363b40;

  --border: #464b52;

  --text: #f4f4f2;
  --muted: #9ca0a7;

  --accent: #dfff00;
  --accent-hover: #cfe800;

  --guess: #d8dde3;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
